[submodule "RabbitEngine/vendor/spdlog"]
	path = RabbitEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RabbitEngine/vendor/GLFW"]
	path = RabbitEngine/vendor/GLFW
	url = https://github.com/Zheap/glfw
[submodule "RabbitEngine/vendor/imgui"]
	path = RabbitEngine/vendor/imgui
	url = https://github.com/Zheap/imgui
[submodule "RabbitEngine/vendor/glm"]
	path = RabbitEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "RabbitEngine/vendor/yaml-cpp"]
	path = RabbitEngine/vendor/yaml-cpp
	url = https://github.com/Zheap/yaml-cpp
[submodule "RabbitEngine/vendor/ImGuizmo"]
	path = RabbitEngine/vendor/ImGuizmo
	url = https://github.com/Zheap/ImGuizmo
[submodule "RabbitEngine/vendor/Box2D"]
	path = RabbitEngine/vendor/Box2D
	url = https://github.com/Zheap/box2d
